@* @model IEnumerable<Top10Covid19Cases.Implementation.Reporte> *@

@model dynamic

@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="row">
            <div class="column">
                @Html.DropDownList("RegionList", (IEnumerable
                <SelectListItem>)ViewBag.RegionList)
            </div>
            <div class="column">
                <input type="submit" value="Report" class="btn btn-default" />
            </div>
            <div class="column">
                <button type="button" id="buttonjson">json</button>

            </div>
            <div class="column">
                <button type="button" id="buttonxml">xml</button>

            </div>
            <div class="column">
                <button type="button" id="buttoncsv">csv</button>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading list-panel-heading">
                    <h1 class="panel-title list-panel-title">Report</h1>
                </div>
                <div class="panel-body">
                    <table id="report-data-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Region</th>
                                <th>Cases</th>
                                <th>Deaths</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reporte in Model)
                            {
                                <tr>
                                    <td>@reporte.region.name</td>
                                    <td>@reporte.confirmed</td>
                                    <td>@reporte.deaths</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $("#buttonjson").click(function () {
                $("#report-data-table").tableHTMLExport({

                    // csv, txt, json, pdf
                    type: 'json',

                    // file name
                    filename: 'jsonreport.json'

                });
            });

            $("#buttoncsv").click(function () {
                $("#report-data-table").tableHTMLExport({

                    // csv, txt, json, pdf
                    type: 'csv',

                    // default file name
                    filename: 'tableHTMLExport.csv',

                    // for csv
                    separator: ',',
                    newline: '\r\n',
                    trimContent: true,
                    quoteFields: true,

                    // CSS selector(s)
                    ignoreColumns: '',
                    ignoreRows: '',

                    // your html table has html content?
                    htmlContent: false,

                    // debug
                    consoleLog: false,

                });
            });

            $("#buttonxml").click(function () {
                $("#report-data-table").tabletoxml({
                    rootnode: "COVID",
                    childnode: "COVID",
                    filename: 'COVID'
                });
            });

            

        });

    </script>

}
